

/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.grey-light {
  color: grey_light;
}
.purple {
  color: purple;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.grey-light {
  color: grey_light;
}
.purple {
  color: purple;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.grey-light {
  color: grey_light;
}
.purple {
  color: purple;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.grey-light {
  color: grey_light;
}
.purple {
  color: purple;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.grey-light {
  color: grey_light;
}
.purple {
  color: purple;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.grey-light {
  color: grey_light;
}
.purple {
  color: purple;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.grey-light {
  color: grey_light;
}
.purple {
  color: purple;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.grey-light {
  color: grey_light;
}
.purple {
  color: purple;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: #8bb174;
}
.purple {
  color: #6A5ACD;
}
.red-pink {
  color: #e64173;
}
.grey-light {
  color: grey70;
}
.slate {
  color: #314f4f;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.grey-light {
  color: grey_light;
}
.purple {
  color: purple;
}
.small {
  font-size: 90%;
}
